.content-section {
  height: auto;
  min-height: 800px;
}

.content-box {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
.search-bar {
  /* background-color: tomato; */
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar input[type="text"]{
  margin: 10px;
  width: 200px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding-left: 10px;
}
.search-bar select{ 
  width: 100px;
  border-radius: 4px;
  margin: 10px;
  height: 30px;
  cursor: pointer;
  border: 1px solid #ddd;
}
.search-bar input[type="submit"]{
  height: 30px;
  width: 80px;
  border-radius: 4px;
  border: 1px solid #333;
  color: #fff;
  color : black;
  cursor: pointer;
  transition: .3s;
}
.search-bar input[type="submit"]:hover{
  background-color: tomato;
  color: #fff;
  border: none;
}

.content {
  box-sizing: border-box;
  box-shadow: 3px 3px 50px #e6e6e6;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  height: 150px;
  margin: 20px;
  transition: .5s;
  cursor: pointer; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.content:hover {
  background-color: #ddd;
}

.content .club-title-section {
  height: 50px;
}
.content .club-title-section .club-name{
}
.content .club-title-section strong{
  font-weight: 700;
  font-size: 16px;
  
}
.content .club-des-section{
  box-sizing: border-box;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.content .club-category-section{
  
}
.content .club-category-section span{
  border-radius: 10px;
  padding: 5px;

  background-color: #ddd;
  font-size: 10px;
}
.btn-wrap {
  margin-top: 80px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.btn-wrap .more-btn {
  background-color: tomato;
  width: 130px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: none;
  transition: .4s;
}
