h1 {
  text-align: center;
  height: 50px;
}

header .main-menu ul.menu li .manage-club {
  display: none;
}

.submit-btn {
  width: 100px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}

.submit-btn:hover {
  background-color: #ff6347;
  color: #fff;
  border: 1px solid #ddd;
}

.club {
  display: flex;
  background-color: tomato;
  justify-content: center;
  height: 600px;
}

.content-section {
  display: flex;
}

#description {
  margin-bottom: 20px;
}

.nav-element {
  border: 1px solid black;
  height: 50px;
}

.title-section {
  background-color: #333;
  height: 150px;
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-section .title {
  color: #fff;
  font-size: 32px;
  text-align: center;
}

.content-section .inner {
  width: 600px;
  padding: 10px;
  box-sizing: border-box;
}

.content-section .inner .content-each {
  height: 60px;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-basis: 1;
  align-items: center;
  margin: 10px;
  border-radius: 6px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
}

.content-section .inner .content-box {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.content-section .inner .content-box .post-list {
  height: 50px;
  padding: 5px;
  background-color: #ff6347;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s;
  text-align: center;
  line-height: 50px;
}

.content-section .inner .content-box .post-list:hover {
  background-color: #FF4500;
  color: #fff;
}

.content {}

.club-category-section {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.club-category-section span {
  border-radius: 10px;
  padding: 5px;
  background-color: #ddd;
  font-size: 14px;
  text-align: center;
}

.badge {
  position: absolute;
  width: 70px;
  height: 50px;
  right: -130px;
  top: -80px;
  padding: 4px;
  border-radius: 4px;
  line-height: 50px;
  text-align: center;
  display: none;
  background-color: #ff6347;
  color: #fff;
  transition: .4s;
  cursor: pointer;
}

.badge:hover {
  background-color: #FF4500;
}

.badge .badge-text {
  font-size: 14px;
  color: #333;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 10;
  transition: .4s
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.modal .modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.btn-group {
  display: flex;
  justify-content: center;
}

.modal button {
  width: 80px;
  height: 30px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin: 10px;
  transition: .3s;
  border-radius: 3px;
}

.modal button:hover {
  color: #fff;
  background-color: tomato;
}

.my-info-element {
  position: relative;
}

.accordion {
  width: 110px;
  background-color: #fff;
  position: absolute;
  border: 2px solid #ddd
}

.close {
  display: none;
}