h1 {
  text-align: center;
}
.submit-btn {
  width: 100px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.submit-btn:hover {
  background-color: #ff6347;
  color: #FFF;
}
.club {
  display: flex;
  background-color: tomato;
  justify-content: center;
  height: 600px;
}
h1 {
  text-align: center;
  height: 100px;
}
.content-section {
  display: flex;
}
.nav-element {
  border : 1px solid black;
  height: 50px;
}
.title-section {
  background-color: #333;
  height: 200px;
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-section .title {
  color: #fff;
  font-size: 32px;
  text-align: center;
}
.content-section .inner {
  padding: 10px;
  box-sizing: border-box;
}
.content-section .inner .content-each {
  height: 60px;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-basis: 1;
  align-items: center;
  margin:10px;
  border-radius: 6px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
}

.content-section .inner .content-box {
  box-sizing: border-box;
  height : 600px;
  display: flex;
  justify-content: center;
  border : 1px solid black;
}

.content {
  
}
.club-category-section span{
  border-radius: 10px;
  padding: 5px;

  background-color: #ddd;
  font-size: 10px;
}