h1 {
  text-align: center;
  font-size: 18px;
}
input {
  padding: 10px;
  margin: 10px;
  width: 400px;
  height: 30px;
  border-radius: 6px;
  border: none;
  background-color: #fff;
}

.submit-btn {
  width: 100px;
  padding: 10px;
  background-color: tomato;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}

.new-club {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#category-select {
  width: 190px;
  outline: none;
  margin : 10px;
}