h1 {
  text-align: center;
  font-size: 18px;
}
input {
  padding: 10px;
  margin: 10px;
  width: 400px;
  height: 30px;
  border-radius: 6px;
  border: none;
  background-color: #fff;
}

.submit-btn {
  background-color: #ff6347;
  color: #fff;
  width: 100px;
  padding: 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .2s;
}

.submit-btn:hover {
  background-color: 	#FF4500;
}

.new-club {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#category-select {
  width: 180px;
  height: 30px;
  margin : 30px;
  cursor: pointer;
  font-size: 16px;
}
#category-select option{
  width: 100px;
  font-size: 50px;
}