.border-section {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border : 1px solid black;
}
.border-section .border-section-title {
  font-size: 14px;
  /* font-weight: 700; */
}

.content-section .inner {
  /* margin-top: 120px; */
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.content-section .inner .post-box {
  width : 800px;
  position: relative;
  margin-top: 30px;
}

.content-section .inner .post-box .post-title,
.content-section .inner .post-box .post-content {
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 15px;
  display: block;
  border-radius: 4px;
}
.content-section .inner .post-box .post-title {
  border : 1px solid black;
  height: 35px;
  margin-bottom: 20px;
}
.content-section .inner .post-box .post-content {
  border : 1px solid black;
  height: 300px;
}
.content-section .inner .post-box .btn{
  margin-top: 10px;
  position: absolute;
  bottom: -36px;
  right: 34px;
}
.comment-section .inner {
  padding: 10px;
  box-sizing: border-box;
  /* box-shadow : 4px 4px 10px rgba(0, 0, 0, .15) */
}
.comment-section .inner .comment-box {
  padding: 10px;
  position: relative;
  border: 1px solid #e5e5e5;;
  margin: 10px;
}
.comment-section .inner .comment-box .comment-title{
  font-weight: 700;
  font-size: 20px;
}
.comment-section .inner .comment-box .comment-content{
  margin: 10px 0;
}

.comment-section .inner .comment-box .input-title,
.comment-section .inner .comment-box .input-content {
  box-sizing: border-box;
  font-size: 23px;
  display: block;
  padding: 10px;
  border-radius: 4px;
}
.comment-section .inner .comment-box .input-title {
  height: 30px;
  margin-bottom: 20px;
}
.comment-section .inner .comment-box .input-content {
  width: 100%;
  font-size: 16px;
  height: 100px;
  resize: none;
}
.comment-section .inner .comment-box .btn{
  position: absolute;
  bottom: -40px;
  right: 34px;
}
svg {
  width: 40px;
  height: 40px;
}
.comment-box svg {
  width: 20px;
  height: 20px;
  position: absolute;
  transition: .1s;
  top: 33px;
  left: 370px;
  transition: .1s;
  fill: #ddd;
  cursor: pointer;
}
.comment-box svg.active {
  fill: royalblue;
}
.badges {
  position: fixed;
  top: 150px;
  right: 150px;
}
.badges .badge {
  width: 26px;
  height: 25px;
  border-radius: 10px;
  /* overflow: hidden; */
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
  padding: 10px;
}
.badges .badge span{
  display: block;
}
#heart {
  transition: .1s;
  cursor: pointer;
  fill: #ddd;
}
#heart.active {
  fill:red;
}