ul, li {
  list-style: none;
}
.header-inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
.inner {
  width: 880px;
  margin: 0 auto;
  position: relative;
}

.title-section {
  margin-top: 150px;
  padding: 0 0 20px;
  border-bottom: 1px solid #ebebeb;
}
.title-section .title {
  font-size: 32px;
}

.border-section {
  height: 50px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-section {
  margin-top: 50px;
  height: auto;
  min-height: 300px;
  border-bottom: 1px solid #ebebeb;
}

.border-section .border-section-title {
  font-size: 14px;
  font-weight: 400;
}

#comment-container{
  /* display: flex;
  justify-content: center; */
  margin-top: 50px;
  box-sizing: border-box;
  margin-bottom: 100px;
}
#comment-container .inner {
  margin-top: 50px;
  box-sizing: border-box;
  width: 700px;
  margin-bottom: 100px;
}
.comment-each-container {
}

#comment-container .comment-box {
  padding: 20px;
  position: relative;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  margin: 10px;
  border-radius: 4px;
  font-size: 12px;
  min-height: 70px;
}

#comment-container .comment-box .comment-title {
  font-weight: 700;
  font-size: 12px;
}

#comment-container .comment-box .comment-content {
  font-size: 12px;
  margin: 10px 0;
}

#comment-container .comment-box .input-title,
#comment-container .comment-box .input-content {
  box-sizing: border-box;
  font-size: 14px;
  display: block;
  padding: 10px;
  border-radius: 4px;
}

#comment-container .comment-box .input-title {
  margin-bottom: 20px;
}

#comment-container .comment-box .input-content {
  border: 1px solid #ddd;
  width: 100%;
  height: 150px;
  resize: none;
  font-size: 12px;
}
.reply {
  font-size: 12px;
  font-weight: 700;
  color : #333;
  text-decoration: underline;
}

#comment-container .comment-box .btn {
  margin-top: 10px;
  position: absolute;
  bottom: -80px;
  right: 34px;
}

svg {
  width: 50px;
  height: 50px;
}

.comment-box svg {
  width: 13px;
  height: 13px;
  position: absolute;
  transition: .1s;
  left: 270px;
  transition: .1s;
  fill: #ddd;
  cursor: pointer;
}

.comment-box svg.active {
  fill: royalblue;
}

.badges {
  position: fixed;
  top: 200px;
  right: 150px;
}

.badges .badge {
  width: 30px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
  padding: 10px;
}

.badges .badge span {
  display: block;
  font-size: 13px;
  text-align: center;
}

#heart {
  transition: .1s;
  cursor: pointer;
  fill: #ddd;
}

#heart.active {
  fill: red;
}

.created-date {
  font-size: 12px;
}

.comment-btn {
  margin-top: 30px;
  position: absolute;
  right: 20px;
  width: 130px;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
  background-color: tomato;
}
.comment-btn:hover {
  background-color: #FF4500;
}
.text-btn {
  margin: 3px;
  text-decoration: underline;
  cursor: pointer; 
}

#post-image {
  display: block;
  width: 200px;
  height: 200px;
}
.comment-box .comment-modify {
  
}
.comment-edit {
  
}
.comment-box .comment-modify,
.comment-delete {
  cursor: pointer;
  text-decoration: underline;
  margin: 0 3px;
}
/* .comment-delete {
  margin: 0 5px;
  cursor: pointer;
  text-decoration: underline;
} */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  color: #333;
  display: block;
  text-decoration: none;
  text-align: center;
  width: 25px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.pagination a:hover {
  background-color: #ddd;
}
.pagination .active {
  background-color: #ff6347;
  color: white;
  border: 1px solid #ff6347;
}
.page-number {
  display: block;
  margin: 10px 0;
}
.post-meta {
  margin-top: 30px;
  font-size: 13px;
  position: relative;
  color: #808080;
}
.post-meta span{
  margin : 0 5px;
}
