.content-section .inner {
  width: 700px;
  display: flex;
  justify-content: center;
}
.content-section .inner .container {
  height: 500px;
  min-width: 700px;
  padding: 20px;
  box-shadow: 2px 2px 20px rgba(0,0,0,.3);
  /* height: 500px;
  justify-content: center;
  align-items: center; */
  display: flex;
  justify-content: center;
}
.content {
  background-color: #fff;
  box-sizing: border-box;
  padding : 4px;
  border-radius: 3px;
  width: 400px;
  height: 30px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}

.send-user {
  flex-basis: 1;
  flex-grow: 2;
}
.club-id {
  flex-basis: 1;
  flex-grow: 1;
}


