h1 {
  text-align: center;
  margin: 30px;
  font-weight: 700;
  font-size: 18px;
}

.content-section .inner {
}

.content-section .inner .content-box{ 
  border: 1px solid black;
  width: 600px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #fff;
}
.content-section .inner .content-box .profile{
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 300px;
  height: 300px;
}
.content-section .inner .content-box .profile img{ 
  width: 100%;
  height: 100%;
}

.info-section {
  position: relative;
  margin: 0 auto;
  width: 300px;
  background-color: #fff;
  
}

.info-section .username{
  height: 40px;
  font-weight: 700;
}
.info-section .email{
  margin-bottom: 10px;
}
.info-section .content{
  height: 30px;
}
.info-section .info-title {
  font-weight: 600;
  margin-bottom: 10px;
}
.info-section .info {
  min-height: 30px;
  border-radius: 4px;
}

.content-box
.modify-btn {
  margin: 30px auto;
  width: 130px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  background-color: #ff6347;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.modify-btn:hover {
  background-color:	#FF4500;
}

.save-btn {
  display: none;
  margin: 30px auto;
  width: 130px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  background-color: #ff6347;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  transition: .4s;
}

.modify-password {
  display: none;
}

.modify-password input[type="password"]{
  box-sizing: border-box;
  width: 300px;
  height: 30px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #333;
}

.withdraw {
  position: absolute;
  right: 0;
}

.info {
  border: none;
}
.change-password {
  position: absolute;
  bottom: 50px;
  right: 0;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 10;
  transition: .4s
}

.modal .modal-content {
  width: 400px;
  height: 200px;
  text-align: center;
}
.modal .modal-content p{
  text-align: center;
  margin: 20px;
}
.modal .modal-content input{
  margin: 10px;
  width: 270px;
  height: 30px;
  border-radius: 4px;
}

.btn-group {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.modal button {
  width: 80px;
  height: 30px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin: 10px;
  transition: .3s;
  border-radius: 3px;
}

.modal button:hover {
  color: #fff;
  background-color: tomato;
}

.withdraw-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 10;
  transition: .4s
}

.withdraw-modal .modal-content {
  width: 400px;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.withdraw-modal .modal-content p{
  text-align: center;
  margin: 20px;
}
.withdraw-modal .modal-content input{
  margin: 10px;
  width: 250px;
  height: 30px;
  border-radius: 4px;
}

.withdraw-modal.btn-group {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.withdraw-modal button {
  width: 80px;
  height: 30px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin: 10px;
  transition: .3s;
  border-radius: 3px;
}

.withdraw-modal button:hover {
  color: #fff;
  background-color: tomato;
}
